<!-- ###############################################################> -->
<!-- ========================================================= -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
{% block content %}
<h1>This is the home page.</h1>
{% endblock %}
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends 'base.html' %} {% block title %} Home {% endblock %} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the home page.</h1>
{% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- ========================================================= -->
<!-- #################################################################> -->
