<!-- ###############################################################> -->
<!-- ========================================================= -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
{% block content %}
<form method="POST">
	<h3 align="center">Login</h3>
	<div class="form-group">
		<label for="email">Email Address: </label>
		<input
			type="email"
			class="form-control"
			id="email"
			name="email"
			placeholder="Enter your Email..." />
	</div>
	<div class="form-group">
		<label for="password">Confirm Password: </label>
		<input
			type="password"
			class="form-control"
			id="password"
			name="password"
			placeholder="Please enter your Password..." />
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% if boolean == True %} Yes, it is true! {% elif %} {% else %} No, it is not true. {%
endif %} {% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% if boolean == True %} Yes, it is true! {% else %} No, it is not true. {%
endif %} {% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% if boolean == False %} Yes, it is true! {% endif %} {% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% if boolean == True %} Yes, it is true! {% endif %} {% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{{ text }} {% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{{ text }} {{ user + 's' }}{% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- #region <PROGRAM0_V0> -->
<!-- ========================================================= -->
<!-- _______________________________________________/ -->
<!-- :::::::::::::::::::::::::::::::::::::::::::::::\ -->
<!-- HTML -->
<!-- ::::::::::::::::::::::::::::::::::::: -->
<!-- HTML: HOME PAGE -->
<!-- ::::::::::::::::::::::::::::::: -->
<!-- HOME: TAB NAME -->
<!-- --------------------------- -->
<!-- {% extends 'base.html' %} {% block title %} Login {% endblock %} -->
<!-- ------------------------------------- -->
<!-- HOME: PAGE CONTENT -->
<!-- --------------------------- -->
<!-- {% block content %}
<h1>This is the login page.</h1>
{% endblock %} -->
<!-- ::::::::::::::::::::::::::::::::::::::::::::::: -->
<!-- ========================================================= -->
<!-- #endregion -->
<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
<!-- ========================================================= -->
<!-- #################################################################> -->
